<div class="sidebar">
  <mat-nav-list class="menu-items">
    <mat-list-item *ngFor="let item of menuItems" 
                   class="menu-item"
                   [routerLink]="item.route" 
                   routerLinkActive="active">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span class="item-name">{{ item.name }}</span>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list class="logout-section">
    <mat-list-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span class="item-name">Logout</span>
    </mat-list-item>
  </mat-nav-list>
</div>
